{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block content %}
    <div class="row text-center mt-5">
        <h1>Patient</h1>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ patient.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ patient.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ patient.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ patient.age }}</td>
                    </tr>
                    <tr>
                        <th>Civilite</th>
                        <td>{{ patient.civilite }}</td>
                    </tr>
                    <tr>
                        <th>Nss</th>
                        <td>{{ patient.nss }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ patient.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ patient.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        {{ include('patient/_delete_form.html.twig') }}
    </div>
{% endblock %}
