{% set jours = ["Lu","Ma","Me","Je","Ve","Sa"] %}
{% set monday = selectedDay|date_modify("monday this week") %}
{% set currentDay = monday %}
<table id="dispo" class="table mt-5">
    <thead>
        <tr>
            {% for jour in jours %}                                    
                <th>
                    {{jour}} ({{currentDay|date('d/m/Y')}})
                </th>
                {% set currentDay = currentDay|date_modify("+1 day")%}
            {% endfor %}
        </tr>            
    </thead>
    <tbody>
        {% set hour = 59 %}
        {% set duree = 30 %}     
        {% for heure in range(8,19) %}                           
            {%  set hh = (currentDay|date('Y-m-d')~" "~((heure<10)?'0'~heure:heure)~":00:00")  %}            
            {% for part in range(0,hour, duree) %}
                <tr>
                    {% set currentDay = monday %}
                    {% for jour in jours %}  
                        {% set index = -1 %}
                        {% for ava in availabilities %} 
                            {% if ava.date|date('Y-m-d')== currentDay|date('Y-m-d')  %}
                                {% set index = loop.index %}
                            {% endif %}
                        {% endfor %}
                        {% set debutHeureVisite = hh|format_datetime('none', 'short', locale='fr') %} 
                        {% set finHeureVisite = hh|date_modify("+"~duree~" minute")|format_datetime('none', 'short', locale='fr')%}                                                                  
                        
                        {% if  index>=0 and 
                               (availabilities[index-1].heureDebut|format_datetime('none', 'short', locale='fr') <= debutHeureVisite and 
                                finHeureVisite <= availabilities[index-1].heureFin|format_datetime('none', 'short', locale='fr'))    %}
                            <td class="abled">                                        
                                {{debutHeureVisite }} - {{finHeureVisite}}
                            </td>
                        {% else %}
                            <td class="disabled">                                                                        
                                {{ debutHeureVisite }} - {{finHeureVisite}}
                            </td>                                   
                        {% endif %}                            
                        {% set currentDay = currentDay|date_modify("+1 day")%}
                    {% endfor %}
                </tr>
                {% set hh = hh|date_modify("+"~duree~" minute") %}
            {% endfor %}
        {% endfor %}
        
    </tbody>
</table>    
