{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block content %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ rendez_vou.dateDebut ? rendez_vou.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ rendez_vou.duree }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rendez_vou.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
